{% if settings.home_section_1 != blank %}
  {% include settings.home_section_1 %}
{% endif %}


  <div class="grid">
    {% if settings.home_section_2 != blank %}
      {% include settings.home_section_2 %}
    {% endif %}

    {% if settings.home_section_3 != blank %}
      {% include settings.home_section_3 %}
    {% endif %}
  </div>

{% if settings.home_section_4 != blank %}
  <hr class="hr--small hr--clear home4">
  {% include settings.home_section_4 %}
{% endif %}
